<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.btsearch.api.mapper.WebSocketInterface">


    <select id="queryID"  resultType="java.lang.String">
        SELECT MAX(USERID) FROM userlogins
    </select>

    <insert id="insertLog" >
        INSERT INTO userlogins VALUES (0,0);
    </insert>


</mapper>
